body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #fefae0;
}

/*sobre a barra de cima do site*/
#listalinkcorpo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #151515;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
}

li a:hover {
    background-color: black;;
}

#d {
    float: right;
}


/* sobre as divs de 'sobre mim'*/
.informações {
    margin: 60px 20px 0px 20px;
}

#caixa1, #caixa2, #caixalimite {
    max-width: 500px;
    padding: 8px;
    margin: 0px 0px 60px 60px;
    width: 50%;
}
#caixa1 {
    box-shadow: -10px 10px ;
    background-color: #f27f0c;
}

#caixa2 {
    float: right;
    margin-right: 60px;
    box-shadow: 10px 10px;
    background-color: #f7ad19;
}

#caixalimite {
    visibility: hidden;
    height: 150px;
}

#caixa1 p {
    margin: 0px;
}

#caixa2 p {
    margin: 0;
}

/*sobre as divs de 'interesses'*/

#interesses {
    border-top: 60px;
    clear: right;
}


#caixa4 {
    background-color: #f8a145;
    padding: 8px;
    border-radius: 8px;
}

#caixa4 p{
    margin: 0;
}

#tabelatop-1 p{
    margin-bottom: 5%;
}

.tabela1 {
    width: 100%;
    border-collapse: collapse;
}

.tabela1 table, th, td{
    border-bottom: 1px solid #fce7cc;
    text-align: center;
    padding: 8px;
}

.tabela1 th{
    background-color: #ffba08;
}

#posicao1 {
    max-width: 10%;
}

#nometabela1 {
    text-align: left;
}


@media screen and (max-width: 800px) {
    #caixa1, #caixa2 {
        float: left;
        width: 100%;
        margin-right: 60px ;
        max-width: fit-content;
    }

    #caixa2 {
        margin-left: 60px;
        box-shadow: -10px 10px;
    }

    #caixalimite {
        display: none;
    }
    
    #a, #b, #c, #d {
        width: 25%;
    }
    
}